@import '../../styles/app';

table {
  td, th {
    font-weight: $font-weight-normal;
  }

  tbody tr {
    &:nth-child(odd) {
      background: $gray-100;
    }

    td {
      min-width: 100px;
    }
  }
}


canvas {
  width: 100% !important;
  height: 100% !important;
  margin: 0 auto;
}