@import '../../styles/app';

// #dropzone {
//   width: 70%;
//   margin: 0 auto;
// }

.dropzone-custom-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}

.dropzone-custom-title {
  margin-top: 0;
  color: rgba(237,95,0, 1);
}

.subtitle {
  color: rgba(237,123,0, 1);
}


.status {
  // width: 70%;
  margin: 0 auto;
  padding-top: 1rem;
  text-align: center;
}