@import '../../styles/app';

.saveRej {
  margin-top: 20px;
}

.custom-select {
	height: 393px !important;

	&:focus {
		border: solid 1px lightgray;
	}
}

.detalhes {
	margin-top: 20px;
	padding: 15px;
	line-height: 25px;
	border: solid 1px lightgray;
	border-radius: 5px;
	display: block;
}

.prodRelacionado {
	margin-top: 50px;
}